page-profil {



#avatar {
  width: 100% !important;
  height : 100% !important;
  max-width: 80px !important;  //any size
  max-height: 80px !important;
  border-radius: 30%;
}
  .item-md h1 {
    text-align: center;
    margin: 10px;
    font-size: 27px;
  }
  .labelTitle {
    font-weight: bold;
  }

}

