<!--
  Generated template for the ProfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-header>


  <ion-toolbar color="dark">



    <ion-title>Mon profil</ion-title>



  </ion-toolbar>


</ion-header>

<!--<ion-menu [content]="content">-->
  <!--<ion-content >-->

    <!--<ion-list>-->
      <!--<button ion-item (click)="openPage(homePage)">-->
        <!--Flux-->
      <!--</button>-->
      <!--<button ion-item (click)="openPage(friendsPage)">-->
        <!--Friends-->
      <!--</button>-->
      <!--<button ion-item (click)="openPage(eventsPage)">-->
        <!--Posts-->
      <!--</button>-->
      <!--<button ion-item (click)="closeMenu()">-->
        <!--Close Menu-->
      <!--</button>-->
    <!--</ion-list>-->

  <!--</ion-content>-->

<!--</ion-menu>-->


<ion-nav id="nav" #content [root]="tab5Root"></ion-nav>


<ion-content >


      <ion-item >


          <img  [src]="'https://www.rallyetribe.fr/storage/' + user.user_image"   item-right id="avatar"   >


          <h1 *ngIf="user">{{user.prenom}} {{user.nom}}  </h1>

        <br>

          <ion-icon class="icon icon-md ion-md-pin" name="pin" role="img" aria-label="pin"></ion-icon>
        <label> Les papéteries  </label><!--<label *ngIf="user"> {{user.pseudo}}  </label>-->

      </ion-item>
<br>


  <ion-item id="ddn">
    <ion-icon name="calendar" aria-label="calendar">

    </ion-icon><label class="labelTitle"> Né(e) le : </label>
    <label *ngIf="user">  29 février 1985</label>
  </ion-item>

  <ion-item id="ville">
    <ion-icon name="contacts" aria-label="contacts"></ion-icon>
    <label class="labelTitle" > Description : </label>
    <label *ngIf="user">{{user.description}}</label>
  </ion-item>

  <ion-item id="domicile">
    <ion-icon name="home" aria-label="home"></ion-icon>
    <label class="labelTitle"> Domicile : </label>
    <label  *ngIf="user" >{{user.latitude}} - {{user.longitude}}</label>
  </ion-item>

  <ion-item id="etudes">
    <ion-icon name="mail" aria-label="mail">

    </ion-icon><label class="labelTitle" > Email : </label>
    <label *ngIf="user">{{user.email}}</label>
  </ion-item>

  <ion-item id="travail">
    <ion-icon name="briefcase" aria-label="briefcase">

    </ion-icon>
    <label class="labelTitle" > Travail : </label>
    <label *ngIf="user">Testeur à L' ANPE</label>
  </ion-item>

  <!--<ion-item id="mes-spots">-->
    <!--<h2 *ngIf="user">Mes Derniers Posts</h2>-->
  <!--</ion-item>-->



  <ion-item id="mes-spots">
    <ion-grid *ngIf="myPost">
      <ion-title>Last Post :</ion-title>
      <ion-row>
        <ion-col col-4 *ngFor="let post of myPost">
          <img [src]="'https://www.rallyetribe.fr/storage/' + post.file" (click)="goToDetail(post)" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>


</ion-content>



